{% extends 'again/base.html' %}

{% block content %}
    {% if user.is_authenticated %}
    <h1>Finance Keeper</h1>
        <p>
            Welcome here, {{ user }}!
        </p>

        {% if user.is_staff %}
            <p>
                Visual editing is accessible through
                <a href="admin/">admin panel</a>.
            </p>
        {% endif %}

        <div class="tech-info">
            <h3>
                Technical information.
            </h3>
            <p>Current user is <a href="{% url 'accounts:details' %}">{{ user }}</a></p>
            <p>Press
                <a href="{% url 'accounts:logout' %}">here</a>
                to log out.
            </p>

            <h3>Useful links</h3>
            <ul>
                <li><a href="{% url 'finances:list' %}">List of all completed transactions</a></li>
                <li><a href="{% url 'finances:addtr' %}">Add new transaction</a></li>
                <li><a href="{% url 'finances:addac' %}">Add new account</a></li>
            </ul>
        </div>


    {% else %}
        <div class="split split_left">
            <div class = "authors">
                <p>Made by:</p>
                <p><a href="https://github.com/Kickoman">Kanstancin Novikau</a></p>
                <p><a href="https://github.com/LizaTheGreatest">Liza Phan</a></p>

            </div>
            <div class="header">
                <p>Finance Keeper</p>
            </div>
                

        </div>

        <div class="split split_right bg_primary">
            <section class = "auth">
                <form method="post" action="{% url 'accounts:sign_in' %}">
                    {% csrf_token %}
                    <input id="usrn" type="text" name="username" placeholder="USERNAME">
                    <br>
                    <br>

                    <input id="pw" type="password" name="password" placeholder="PASSWORD">
                    <br>
                    <br>
                    <input id="sb" type="submit" value="Sign in">
                </form>

                <p>Create an account <a href="{% url 'accounts:sign_up' %}">Sign up</a></p>

                    
            </section>
        

    {% endif %}
{% endblock %}
