<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding new transaction</title>
</head>
<body>
    <h1>NEW TRANSACTION</h1>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{% url 'submission'%}" method="post">
        {% csrf_token %}
        <label for="trname">Name: </label>
        <input type="text" name="name" id="trname"> <br>
        <label for="trdate">Date: </label>
        <input type="date" name="date" id="trdate"><br>
        <label for="trtype">That's income: </label>
        <input type="checkbox" name="type" id="trtype"><br>
{#        <input type="cat_id" name#}
        <button type="submit">Submit everything</button><br>
    </form>
</body>
</html>

{#name = models.CharField(max_length=100)#}
{#date = models.DateField('Date executed')#}
{#type = models.BooleanField('Income')#}
{## cat_id = models.IntegerField('Category')#}
{#cat_id = models.ForeignKey(Category, on_delete=models.CASCADE)#}
{#user_id = models.IntegerField('User id')#}
{## cost = models.FloatField('Value')#}
{#cost = models.DecimalField(max_digits=15, decimal_places=2)#}
{#comment = models.CharField(max_length=500)#}