{% extends 'again/base.html' %}
{% block title %}Dashboard{% endblock %}
{% load static %}
{% block css %}
    <link type="text/css" rel="stylesheet" href="{% static "finances/dashboard.css" %}">
{% endblock %}

{% block content %}


    <div class="left_side">

        <nav>
            <button>Log out</button> 
            <a href="./accounts/details/"> <h3>{{ request.user }}</h3> </a>
        </nav>
        <div id="balance">
            <h3>Balance</h3>
            <span>9.41</span>
        </div>
        <a href="#" id="created-by">Created by</a>
    </div>
    <div class="right_side">        
               <div class="tables"> {# TODO: check class naming #}
                <span>Your balance for the last month is {{ sum_for_month }}.</span>
                <span>
                    {% if sum_for_month > 0 %}
                        Well done, my friend!
                    {% else %}
                        It seems, you're falling in debts. Maybe you should <a href="mailto:kickoman@yandex.by">ask for a help</a>?
                    {% endif %}
                </span>
        
                <table>
                    <thead>
                        <tr>
                            <th class="date-col">Date</th>
                            <th class="type-col">Type</th>
                            <th class="name-col">Name</th>
                            <th class="categ-col">Category</th>
                            <th class="cost-col">Cost</th>
                            <th class="amount-col">Amount</th>
                        </tr>
                    </thead>
                    <!-- <tbody>
                        {% for x in tr_history %}
                            <tr>
                                <td> {# Date #}
                                    {{ x.date }}
                                </td>
                                <td> {# Type #}
                                    {% if x.type %}
                                        Income
                                    {% else %}
                                        Expense
                                    {% endif %}
                                </td>
                                <td> {# Name #}
                                    {{ x.name }}
                                </td>
                                <td> {# Category #}
                                    {{ x.category }}
                                </td>
                                <td> {# Cost #}
                                    {{ x.cost }}
                                </td>
                                <td> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                    {{ x.amount }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody> -->
                    <tbody>
                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>                        <tr>
                            <td class="date-col"> 
                                01.01.1970
                            </td>
                            <td class="type-col"> {# Type #}
                                {% if x.type %}
                                    Income
                                {% else %}
                                    Expense
                                {% endif %}
                            </td>
                            <td class="name-col"> {# Name #}
                                William Lawson
                            </td>
                            <td class="categ-col"> {# Category #}
                                Alcohol
                            </td>
                            <td class="cost-col"> {# Cost #}
                                25.99   
                            </td>
                            <td class="amount-col"> {# Amount #} {# TODO: replace cost & amount columns with the only one #}
                                1
                            </td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>

{% endblock %}