{% extends 'fkeeper/base.html' %}
{% block title %}{{ request.user }}'s details{% endblock %}
{% block content %}
    <div class="nav">
        <p>
            <a href="/">Main page</a>
        </p>
    </div>
    <h1>{{ request.user }}</h1>
    {{ balance }}
    <h3>Current balances: <br>{% for key, value in balance.items %} {{ value }} {{ key }}<br> {% endfor %}</h3>
    <h3>Connected accounts:</h3>
        <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Current balance</th>
                </tr>
            </thead>
            <tbody>
            {% for a in accounts %}
                <tr>
                    <td>
                        {{ forloop.counter }}
                    </td>
                    <td>
                        {{ a.name }}
                    </td>
                    <td>
                        {{ a.balance }} {{ a.currency }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}
