{% extends 'again/base.html' %}
{% block title %}{{ request.user }}'s details{% endblock %}
{% block content %}
    <div class="nav">
        <p>
            <a href="/">Main page</a>
        </p>
    </div>
    <h1>{{ request.user }}</h1>
    <h3>Current balance: {{ balance }} BYN</h3>
    <h3>Connected accounts:</h3>
        <table>
            <thead></thead>
            <tbody>
            {% for a in accounts %}
                <tr>
                    <td>
                        {{ a.name }}
                    </td>
                    <td>
                        {{ a.balance }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}