{% extends 'again/base.html' %}
{%block title%}Registration{%endblock%}
{% load static %}

{% block css %}
   <style type="text/css">
        body{

            background-image: url('/static/base/img/tree.jpg');
        }
        .content{

            left: 50%;
            margin-top: 4%;
            margin-left: 50%;
            transform: translateX(-50%);
            padding: 20px;
            width: 350px;
            height: 350px;
            background-color: rgba(255,255,255,0.9);
            text-align: center;
            padding-top: 15px;
            border-radius: 4px;

        }

  
        .registration input {
            width: 200px;
            height: 30px;
            font-size: 125%;
            background-color: white;
            border: 1px solid  #b2b2b2;
            border-radius: 3px;
            padding-left: 5px;
        }

        .lowheader{
            left: -5%;
            transform: translateX(-15%);
            
            background-color: rgba(255,255,255,0.2);
            width: 470px;
            height: 50px;
            font-size: 25px;
            

        }

        .lowheader a{
            margin-top:50%;
            transform: translateY(-50%);
            color: white;
            position: relative;
            font-size: 40px;
            left: 15%;


        }

        
    </style>
{% endblock %}
    
{% block content %}
    <div class = "lowheader">
        <!-- <p>Finance Keeper </p> -->
        <a href="/">Finance Keeper</a>
    </div>
    <div class="content">
        <h2>Registration</h2>

        {% if messages %}
            {% for message in messages %}
                <div class="{{ message.tags }}">
                    <h4>INFO:</h4>
                    <p>
                        {{ message }}
                    </p>
                </div>
            {% endfor %}
        {% endif %}


        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <div class="alert">
                    <h4>ERROR:</h4>
                    <p>
                        {{ error }}
                    </p>
                </div>
            {% endfor %}
        {% endif %}


        <form method="post" class="registration">
            {% csrf_token %}
            {% for field in form %}

                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert">
                            {{ error|escape }}
                        </div>
                    {% endfor %}
                {% endif %}

                {{ field.label_tag }}
                <br>
                {{ field }}
                <br>
                <br>
            {% endfor %}

            <button type="submit">
                Sign up
            </button>
        </form>
    </div>
{% endblock %}
