
.access{


	text-align: center;
	width: 100%;
	background-color: rgba(20,20,20,0.75);
	position: absolute;
	/*left: 50%;*/
	left: 0;
	top: 20%;
	height: 60%;
	/*border-radius: 2%;*/
	
	/*transform: translate(-50%,-50%);*/

	

}
.content{
	color: white;

	text-align: center;
	/*top:10%;*/
	position: relative;
	/*bottom: 20%;*/


}
.lowheader{
	left: 0;
	top: 5%;
	height: 10%;
	width: 35%;
	/*background-color: rgba(255,255,255,0.2);*/
	background-color: rgba(20,20,20,0.75);
	
	/*background-color: rgba(20,20,20,0.75);*/
	position: absolute;
	
}
.lowheader p{

	position: relative;
	font-size: 200%;
	top: 2%;
	left: 10%;
	transform: translateY(-50%);
	color: white;
}

body{
	
	background-image: url('/static/base/img/tree.jpg');
	
}
.content p{
	color: #ec2d0f;
	margin-top: 32px;
	margin-bottom: 0;
}