@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

$left-part-width: 20%;
$accent-color: #28bd55;

.mdi {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga';

  /* usage: <i class="mdi"> <icon-name> </i>*/
}

* {
  font-family: 'Montserrat';
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}


.auth {
  margin-top: 28%;
  /*margin-right: 15%;*/
  /*margin-left: 15%;*/
  position: relative;
  height: 30%;
  padding: 50px;
  text-align: center;
}
.auth p {
  font-size: 15px;
  color: white;
}

input {
  width: 200px;
  height: 30px;
  font-size: 125%;
  /*background-color: #ffffb3;*/
  background-color: white;
  border: 1px solid #b2b2b2;
  border-radius: 3px;

  padding-left: 5px;
}
button {
  border: none;
  height: 35px;
  width: 70px;
  color: white;
  transition-duration: 0.4s;
  background-color: $accent-color;
  font-size: 90%;
}

button:hover {
  background-color: #4a4a49;
  color: white;
}

.authors {
  position: fixed;
  margin-bottom: 2%;
  margin-left: 1%;
  width: 20%;
  height: 10%;
  left: 0;
  bottom: 1%;
}
.authors p {
  color: white;
  margin: 5px;
}

.left_side {
  left: 0;
  width: $left-part-width;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  box-shadow: 0 0 1rem 1px rgba(204, 204, 204, 1);
  padding: 3rem 2rem 0.5rem;
  * {
    text-align: center;
  }
}

#created-by {
  align-self: flex-start;
}

#balance {
  color: $accent-color;

  font-size: 2rem;
}
.right_side {
  padding-top: 3rem;
  left: $left-part-width;
  width: (100% - $left-part-width);
  /*background-color: black;*/
  background-image: url('/static/base/img/tree.jpg');
  background-attachment: fixed;
  text-align: center;
}
.left_side,
.right_side {
  height: 100vh;
  position: fixed;
  top: 0;
}

a {
  color: $accent-color;
  text-decoration: none;
}
/*009a63*/
