table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    width: 50%;
}

.split_left{

	background-image: url('/static/base/img/tree.jpg');

	background-color: white;
	width: 64%;
	left:0;
}

.split_right{

	width:36%;
	left:64%;
}

.bg_primary{
	background-color: rgb(20,20,20);

}

.split{
	
	height: 100%;
	position: fixed;
	top: 0;
	overflow-x: hidden;

}

.auth{
	
	margin-top: 28%;
	/*margin-right: 15%;*/
	/*margin-left: 15%;*/
	position: relative;
	height:30%;
	padding: 50px;
	text-align: center;


}
.auth p{
	font-size: 15px;
	color: white;

}

.auth input 
{
	width: 200px;
	height: 30px;
	font-size: 125%;
	/*background-color: #ffffb3;*/
	background-color: white;
	border: 1px solid  #b2b2b2;
	border-radius: 3px;
	
		


	padding-left: 5px;
}
button{
	border: none;
	height: 30px;
	width: 25%;
	min-width: 98px;
	transition-duration: 0.4s;
	background-color:  #28bd55;
}



button:hover {
  background-color: #4a4a49; 
  color: white;
}


.authors {
	position: fixed;
	margin-bottom: 2%;
	margin-left: 1%;
	width: 20%;
	height: 10%;
	left: 0;
	bottom: 1%;
	
	
}
.authors  p{
	color: white;
	margin: 5px 5px;
}

.header{
	background-color: rgba(255,255,255,0.2);
	left: 0;
	top: 10%;
	width: 100%;
	height: 10%;
	position: relative;
	/*text-align: center;*/
}
.header p{
	position: relative;
	font-size: 300%;
	top: 50%;
	left: 10%;
	transform: translateY(-50%);
	color: white;
}
a{

	color:  #28bd55;
	text-decoration: none;
}
